HELP.md

# Ignorar todas as pastas target
target/
*/target/

# Permitir a pasta registrations/target
!registrations/target/

# Permitir qualquer JAR do registrations (qualquer versão)
!registrations/target/registrations-*.jar

# Continua ignorando qualquer outro arquivo dentro de target de registrations
registrations/target/*
!registrations/target/registrations-*.jar

# Permitir também arquivos dentro de subdiretórios src com target (se necessário)
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignorar arquivos de ambiente, exceto esses específicos
/env/*
!registrations/env/docker.env
!registrations/env/local.env

# Ignorar logs da aplicação registrations
registrations/logs/*
